.w-1250{
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
/*====================== header */
header{
    width: 100%;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
    position: fixed;
    top: 0;
}
header .w-1250{
    height: 86px;
}
.logo-dasteen{
    color: #001858;
    font-size: 36px;
    font-weight: 600;
}
.logo-dasteen span{
    color: #6246EA;
    font-size: 18px;
    font-weight: 700;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
header ul :nth-child(4) a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-buy_me_a_coffee{
    border-radius: 4px;
    background: #6246EA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    gap: 10px;

    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
header ul :nth-child(4) a img{
    width: 17px;
    height: 17px;
}
/*====================== hero-section */
.hero-section{
    width: 100%;
    height: 900px;
    background: #EFF0F3;
    padding-top: 250px;
}
.div-info_and_subscribe{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div-info_and_subscribe h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}
.div-info_and_subscribe p{
    width: 667px;
    height: 56px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
    border-left: 3px solid #2B2C34;
    padding-left: 12px;
}
.subscribe-form{
    display: flex;
    gap: 20px;
}
.subscribe-form input[type="email"]{
    width: 444px;
    height: 67px;
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
    background: #FFFFFE;

    font-size: 20px;
    font-weight: 400;
}
.subscribe-form input[type="email"]::placeholder{
    color: #C0C0C0;
}
.subscribe-form input[type="email"]:focus{
    outline: none;
}
.subscribe-form input[type="submit"]{
    width: 145px;
    height: 67px;
    border: none;
    border-radius: 8px;
    background: #6246EA;

    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.hero-section img{
    width: 470px;
    height: 387px;
    padding: 12.874px 18.074px 10.757px 17.649px;
}
/*====================== browse_the_category-section */
.browse_the_category-section{
    width: 100%;
    height: 500px;
    background: #EFF0F3;
    padding: 67px 0 50px 0;
}
/*====================== section-header */
.section-header{
    padding: 2px 0 3px 0;
}
.section-header h3{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-header a{
    display: flex;
}
.section-header h4{
    color: #2B2C34;
    /*text-align: right;*/
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-header img{
    width: 6px;
    height: 14px;
    margin: 9px 7px 2px 12px;
}
/*====================== category-grid */
.category-grid{
    display: grid;
    /*width: 100%;*/
    /*height: 280px;*/
    /*background: #FFFFFE;*/
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    /*grid-gap: 10px;*/
    grid-column-gap: 37px;
    /*grid-row-gap: 10px;*/
    margin-top: 50px;
}
.category-grid-item{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    padding-top: 65px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.category-grid-item:hover{
    background: #6246EA;
    transition: 2s;
}
.category-grid-item:hover h3{
    color: #FFFFFE;
}
.category-icon{
    width: 60px;
    height: 60px;
    border-radius: 7.458px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-icon img{
    max-height: 100%;
}
.category-grid-item h3{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
