.w-flex-0-auto{
    width: 1250px;
    display: flex;
    margin: 0 auto;
}
.w-flex-between-center-0-auto{
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
/*====================== header */
header{
    width: 100%;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top: 0;
}
header .w-flex-between-center-0-auto{
    height: 86px;
}
.header-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 194px auto 213px;
    justify-items: flex-end;
    align-items: center;
    gap: 50px;
}
.logo-dasteen{
    color: #001858;
    font-size: 36px;
    font-weight: 600;
}
.logo-dasteen span{
    color: #6246EA;
    font-size: 18px;
    font-weight: 700;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
header ul :nth-child(4) a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-buy_me_a_coffee{
    border-radius: 4px;
    background: #6246EA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    gap: 10px;

    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
header ul :nth-child(4) a img{
    width: 17px;
    height: 17px;
}
/*====================== hero-section */
.hero-section{
    width: 100%;
    height: 900px;
    background: #EFF0F3;
    padding-top: 250px;
}
.hero-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 664px 470px;
    grid-column-gap: 116px;
    grid-row-gap: 30px;
    grid-template-areas:
        "hero-grid-h1 hero-grid-img"
        "hero-grid-p hero-grid-img"
        "hero-grid-input hero-grid-img";
    align-items: center;
}
.hero-grid h1{
    grid-area: hero-grid-h1;
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 21px;
}
.hero-grid p{
    grid-area: hero-grid-p;
    width: 667px;
    height: 56px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
    border-left: 3px solid #2B2C34;
    padding-left: 12px;
}
.wrapper_email-submit{
    display: flex;
    gap: 20px;
}
.hero-grid .wrapper_email-submit{
    grid-area: hero-grid-input;
    padding-bottom: 21px;
}
.wrapper_email-submit input[type="email"]{
    width: 444px;
    height: 67px;
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
    background: #FFFFFE;

    font-size: 20px;
    font-weight: 400;
}
.wrapper_email-submit input[type="email"]::placeholder{
    color: #C0C0C0;
}
.wrapper_email-submit input[type="email"]:focus{
    outline: none;
}
.wrapper_email-submit input[type="submit"]{
    width: 145px;
    height: 67px;
    border: none;
    border-radius: 8px;
    background: #6246EA;

    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.hero-grid img{
    grid-area: hero-grid-img;
    width: 470px;
    height: 387px;
    padding: 13px 18px 11px 18px;
}
/*====================== grid-header */
.grid-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0 3px 0;
    color: #2B2C34;
    font-weight: 700;
    text-transform: capitalize;
}
.grid-header h3{
    font-size: 24px;
}
.grid-header a{
    display: flex;
}
.grid-header h4{
    font-size: 20px;
}
.grid-header img{
    width: 6px;
    height: 14px;
    margin: 9px 7px 2px 12px;
}
/*====================== category-section */
.category-section{
    width: 100%;
    height: 500px;
    background: #EFF0F3;
    /*padding: 67px 0 50px 0;*/
    padding-top: 67px;
}
.category-grid{
    width: 100%;
    /*width: 1250px;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 280px;
    grid-row-gap: 50px;
    grid-column-gap: 37px;
    grid-template-areas:
        "category-grid-h category-grid-h category-grid-h category-grid-h category-grid-h"
        "category-grid-i-1 category-grid-i-2 category-grid-i-3 category-grid-i-4 category-grid-i-5";
}
.category-grid :nth-child(1){
    grid-area: category-grid-h;
}
.category-grid :nth-child(2){
    grid-area: category-grid-i-1;
}
.category-grid :nth-child(3){
    grid-area: category-grid-i-2;
}
.category-grid :nth-child(4){
    grid-area: category-grid-i-3;
}
.category-grid :nth-child(5){
    grid-area: category-grid-i-4;
}
.category-grid :nth-child(6){
    grid-area: category-grid-i-5;
}
.category-grid-item{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    padding-top: 65px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.category-grid-item:hover{
    background: #6246EA;
    transition: 1s;
}
.category-grid-item:hover h3{
    color: #FFFFFE;
}
.category-icon{
    width: 60px;
    height: 60px;
    border-radius: 7.458px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-icon img{
    max-height: 100%;
}
.category-grid-item h3{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
/*====================== main */
main{
    width: 100%;
    background: #FFFFFE;
    padding: 80px 0 80px 0;
    display: flex;
}
main .w-flex-0-auto{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
/*====================== article-grid */
.article-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 425px;
    grid-row-gap: 30px;
    grid-column-gap: 16px;
    grid-template-areas:
        "article-grid-h article-grid-h article-grid-h article-grid-h"
        "article-grid-i-1 article-grid-i-2 article-grid-i-3 article-grid-i-4";
    /*margin: 0 auto;*/
}
.article-grid :nth-child(1){
    grid-area: article-grid-h;
}
.article-grid :nth-child(2){
    grid-area: article-grid-i-1;
}
.article-grid :nth-child(3){
    grid-area: article-grid-i-2;
}
.article-grid :nth-child(4){
    grid-area: article-grid-i-3;
}
.article-grid :nth-child(5){
    grid-area: article-grid-i-4;
}
.article-item{
    width: 300px;
    height: 425px;
    border-radius: 12px;
    background: #FFFFFE;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.article-item:hover{
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.article-img{
    width: 260px;
    height: 198px;
    border-radius: 12.599px;
    margin-bottom: 25px;
}
.article-item h4{
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.article-footer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.article-footer img{
    width: 57px;
    height: 57px;
    border-radius: 57px;
}
.article-footer-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2px;
}
.article-footer-info h5{
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
}
.div__date_time-read{
    width: 100%;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-more-article{
    width: 165px;
    height: 64px;
    border-radius: 8px;
    background: #6246EA;

    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*====================== subscribe-section */
.subscribe-section{
    width: 100%;
    background: #EFF0F3;
    padding: 58px 0 58px 0;
    display: flex;
    justify-content: center;
}
.bottom-subscribe-form{
    width: 696px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.div_mailbox{
    width: 130px;
    height: 130px;
    background: #FFFFFE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bottom-subscribe-form h2{
    color: #2B2C34;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.bottom-subscribe-form p{
    width: 696px;
    color: #C0C0C0;
    /*text-align: center;*/
    font-size: 20px;
    font-weight: 400;
}
/*====================== footer */
footer{
    width: 100%;
    background: #E4E5E9;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .w-flex-between-center-0-auto{
    align-items: flex-start;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo p{
    width: 284px;
    color: #2B2C34;
    font-size: 18px;
    font-weight: 400;
}
.div-social-media-icons{
    height: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.div-social-media-icons img{
    max-height: 30px;
}
.footer-info-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 95px;
}
.footer-info-grid h4{
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer-info-grid p{
    color: #2B2C34;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.copyright{
    border-top: 1px solid #C0C0C0;
    margin-top: 50px;
    padding: 26px 0;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
}
