@media screen and (min-width: 769px) and (max-width: 1279px) {
    .w-flex-0-auto{
        width: 625px;
    }
    .w-flex-between-center-0-auto{
        width: 625px;
    }
    /*====================== header */
    .header-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45px 39px;
        grid-template-areas:
        "header-grid-logo header-grid-btn"
        "header-grid-nav header-grid-nav";
        gap: 0;
    }
    .header-grid :nth-child(1){
        grid-area: header-grid-logo;
        justify-self: flex-start;
    }
    .header-grid :nth-child(2){
        grid-area: header-grid-nav;
    }
    .header-grid :nth-child(3){
        grid-area: header-grid-btn;
    }
    .btn-buy_me_a_coffee{
        padding: 8px 17px;

        font-size: 14px;
    }

}
