@media screen and (max-width: 1279px) {
    .w-flex-0-auto{
        width: 625px;
    }
    .w-flex-between-center-0-auto{
        width: 625px;
    }
    /*====================== header */
    .header-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45px 39px;
        grid-template-areas:
        "header-grid-logo header-grid-btn"
        "header-grid-nav header-grid-nav";
        gap: 0;
    }
    .header-grid :nth-child(1){
        grid-area: header-grid-logo;
        justify-self: flex-start;
    }
    .header-grid :nth-child(2){
        grid-area: header-grid-nav;
    }
    .header-grid :nth-child(3){
        grid-area: header-grid-btn;
    }
    .btn-buy_me_a_coffee{
        padding: 8px 17px;

        font-size: 14px;
    }
    /*====================== hero-section */
    .hero-section{
        height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 86px;
    }
    .hero-grid{
        width: 100%;
        display: grid;
        grid-template-columns: 400px 200px;
        grid-column-gap: 25px;
        grid-row-gap: 30px;
        grid-template-areas:
            "hero-grid-h1 hero-grid-img"
            "hero-grid-p hero-grid-p"
            "hero-grid-input hero-grid-input";
        align-items: center;
    }
    .hero-grid h1{
        width: 400px;
        font-size: 52px;
        padding-top: 0;
    }
    .hero-grid p{
        width: 100%;
        height: auto;
        font-size: 18px;
    }
    .hero-grid .wrapper_email-submit{
        padding-bottom: 0;
    }
    .hero-grid img{
        max-width: 200px;
        height: auto;
        padding: 0;
    }
    /*====================== category-section */
    .category-section{
        width: 100%;
        height: auto;
        background: #EFF0F3;
        padding: 67px 0;
    }
    .category-grid{
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
        grid-template-rows: 30px 280px 280px;
        grid-column-gap: 20px;
        grid-template-areas:
        "category-grid-h category-grid-h category-grid-h category-grid-h"
        "category-grid-i-1 category-grid-i-2 category-grid-i-2 category-grid-i-3"
        "category-grid-i-4 category-grid-i-4 category-grid-i-5 category-grid-i-5";
    }
    .category-grid-item{
        width: 195px;
    }
    .category-grid :nth-child(5){
        justify-self: flex-end;
    }
    /*====================== article-grid */
    .article-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 30px 425px 425px;
        grid-row-gap: 30px;
        grid-column-gap: 16px;
        grid-template-areas:
        "article-grid-h article-grid-h"
        "article-grid-i-1 article-grid-i-2"
        "article-grid-i-3 article-grid-i-4";
    }
    /*====================== subscribe-section */
    .bottom-subscribe-form{
        width: 625px;
    }
    /*====================== footer */
    .footer-logo{
        gap: 15px;
    }
    footer .logo-dasteen{
        font-size: 28px;
    }
    footer .logo-dasteen span{
        font-size: 14px;
    }
    .footer-logo p{
        width: auto;
        font-size: 10px;
    }
    .div-social-media-icons{
        gap: 15px;
    }
    .footer-info-grid{
        gap: 15px;
    }
    .footer-info-grid h4{
        font-size: 16px;
    }
    .footer-info-grid p{
        font-size: 14px;
        margin-top: 10px;
    }

}
